.podOverlay {
  position: absolute;
  z-index: 2;
  /* width: calc(var(--PodCard) * 0.9); */
  /* height: calc(var(--PodCard) * 0.9); */
  width: 90%;
  height: 90%;
  background-color: var(--HeaderBGColor);
  opacity: 95%;
  border-radius: 2rem;
}
