.TestElement {
  color: red;
}

#element {
  background-color: red;
  height: 2rem;
  width: 2rem;
}

.bucketOne {
  background-color: black;
  width: 3rem;
  height: 3rem;
}

.bucketTwo {
  background-color: black;
  width: 3rem;
  height: 3rem;
}
