.playerCardCont {
  position: relative;
  /* width: var(--PlayerCard); */
  /* aspect-ratio: 3/1; */
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  touch-action: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playerIcon {
  height: 1.5rem;
  aspect-ratio: 1/1;
  background-color: rgb(167, 163, 185);
  margin-inline: 5%;
  border-radius: 0.75rem;
  outline: solid red;
}

.playerName {
  color: rgb(167, 163, 185);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 1rem;
  pointer-events: none;
}

.dot {
  position: absolute;
  outline: solid green;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
