.podBoxContainer {
  background-color: rgb(73, 73, 110);
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 2rem;
  padding: 3rem;
}

#playerNameInputContainer {
  background-color: grey;
  padding: 0.25rem;
}

#playerNameInput {
  color: red;
}

#playerNameInput::placeholder {
  color: red;
}

#playerNameSubmit {
  width: 1rem;
  height: 1rem;
}
