.matchCNT {
  outline: solid green;
  display: flex;
  justify-content: center;
}

.matchPlayerCNT {
  outline: solid pink;
  width: fit-content;
}

.vs {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.reportOptionCont {
}
