.matchCNT {
  /* outline: solid thin green; */
  display: flex;
  justify-content: center;
}

.matchPlayerCNT {
  /* outline: solid thin pink; */
  width: calc(var(--PlayerSeat) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "RobotoBold";
  color: lightgrey;
}

.recordText {
  font-family: var(--SubHeaderFont);
  color: rgb(16, 16, 22);
}

.reportOptionCont {
}

.reportButton {
  all: unset;
  width: calc(var(--PlayerSeat) * 1);
  aspect-ratio: 1/1;
  border-radius: calc(var(--PlayerSeat));
  font-size: calc(var(--PlayerSeat) / 3);
  background-color: var(--BackgroundColor);
  text-align: center;
  color: lightgrey;
  font-family: "Roboto";
}

.reportButton:hover {
  background-color: black;
}
