.evtDisplayFrame {
  min-width: var(--PodCard);
  min-height: var(--PodCard);
  position: relative;
  margin: 2rem;
}

.evtDisplayFrameContent {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.evtDisplayFrameBG {
  position: absolute;
  background-color: rgb(73, 73, 110);
  border-radius: var(--LargeBorderRadius);
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
