* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  user-select: none;
}

/*CUSTOM FONTS*/

@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("/public/fonts/Roboto-Bold.ttf");
}

/*SITEWIDE VALUES*/
:root {
  /*Colors*/
  --BackgroundColor: rgb(53, 55, 75);

  /* Fonts & Font Variables */
  --BodyFont: Modern Sans, Arial, sans-serif;
  --HeaderFont: "RobotoBold";
  --SubHeaderFont: "Roboto";
  --SmallTextFont: Helvetica;

  /*Global Sizing*/
  --PlayerSeat: 2rem;
  --PlayerCard: 2rem;
  --PodCard: 20rem;
  --PodCardAR: 2/3;
  --LargeBorderRadius: 2rem;
  --MedBorderRadius: 1rem;
  --SmallBorderRadius: 0.5rem;

  /*Global Styling*/
  background-color: var(--BackgroundColor);
}

/*BREAKPOINT - Desktops - Plus*/
@media screen and (min-width: 1025px) {
}

/*BREAKPOINT - Laptops & Tablets*/
@media screen and (max-width: 1024px) and (min-width: 481px) {
  :root {
  }
}

/*BREAKPOINT - Mobile - Minus*/
@media screen and (max-width: 480px) {
  :root {
  }
}
